/* fonts */
/* Roboto =500 900 700 400 */
/* Raleway = 700*/

/* colors */
:root {
    --main-text-color: #757575;
    --heavy-text-color: #212121;
    --action-text-color: #2196F3;
    --logo-text-color: #000000;
    --white-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --community-bg-color: #F5F4FA;
    --background-color: #2F303A;
}



* {
    padding: 0;
    margin: 0;
}

body {
    color: var(--main-text-color);
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.list {
    list-style: none;
}

.contanier {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------header------------------ */
.header {
    display: flex;
    align-items: center;
}


/* logo */
.logo-main {
    font-size: 26px;
    font-weight: 700;
    font-family: 'raleway';
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--action-text-color);
    margin: 0;
}

.logo-second {
    color: var(--logo-text-color);
}

/* header navigation */
.header-pages {
    display: flex;
    margin-left: 93px;
}

.header-pages .link {
    display: block;
    padding: 32px 0px;

    text-decoration: none;
    color: var(--heavy-text-color);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header-pages .item+.item {
    margin-left: 50px;
}

/* активна сторінка */
.header-nav .community-active {
    color: var(--action-text-color);
}

.action {
    display: inline-flex;
}

.action:hover,
.action:focus {
    color: var(--action-text-color);
}

/* header address */
.header-address {
    display: flex;
    margin-left: auto;
}
.header-address .item {
    display: inline-flex;
    align-items: center;
}

.header-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 32px 0px;
}

.header-address .item+.item {
    margin-left: 50px;
}


.header-icon {
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.smartphone {
    height: 16px;
    width: 10px;
}


/* ---------------header------------------ */

/* ----------Main page - studio ---------- */
/* hearo */
.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


.hero .title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    color: var(--white-text-color);
    line-height: 1.36;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
}

.hero .button {
    color: var(--white-text-color);
    height: 50px;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--action-text-color);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    
    padding: 10px 32px;
}

.hero .button:hover,
.hero .button:focus {
    background-color: var(--community-bg-color);
    color: var(--action-text-color);
    cursor: pointer;
}

/* features */
.features {
    padding-top: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--heavy-text-color);
}

.features-title {
    font-size: 0px;
}

.features-list {
    display: flex;
}

.features-list .item {
    width: 270px;

    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.features-list .item+.item {
    margin-left: 30px;
}

.features-list .features-title {
    color: var(--heavy-text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}


.features .item+.item {
    margin-left: 30px;
}

/* work */
.works {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.works-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--heavy-text-color);
}

.item-contanier {
    height: 120px;
    background-color: var(--community-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    border-radius: 4px;
}
  
.item-icon {
    width: 70px;
    height: 70px;
}
/* work */

.work-list {
    display: flex;
}

.work-list .item+.item {
    margin-left: 30px;
}

/* team members */
.team {
    text-align: center;
    background-color: var(--community-bg-color);

    padding: 94px 0px;
}

.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--heavy-text-color);
}

.team-list {
    display: flex;
    justify-content: center;
}

.team-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

background-color: var(--white-text-color);
}

.team-photo {
    display: block;
}

.team-list .item+.item {
    margin-left: 30px;
}

.member-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.team .name {
    color: var(--heavy-text-color);
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 10px;
}

.work-position {
    font-size: 16px;
    letter-spacing: 0.03em;

}

.social-list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.social-list .item+.item {
    margin-left: 10px;
}

.social-list .item {
    display: flex;
    border-radius: 50%;
    box-shadow: none;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: currentColor;
}

.social-link:hover {
    background-color: var(--action-text-color);
    border-radius: 50%;
    color: var(--white-text-color);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
/* <<<<<<<<<<Main page - studio <<<<<<<<<<<*/
/*>>>>>>>>>second page community>>>>>>>>> */
.page-second {
    padding: 94px 0px;
}

.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}
/* buttons */
.button-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
    box-sizing: border-box;
}

.community-button {
    background-color: var(--community-bg-color);
    border: none;
    border-radius: 4px;
    color: var(--heavy-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    letter-spacing: 0.03em;
    text-align: center;
    
    padding: 6px 22px;
}

.button-list .item+.item {
    margin-left: 8px;
}

.button-title {
    font-size: 0px;
}

.button-action:hover,
.button-action:focus {
    background-color: var(--action-text-color);
    color: var(--white-text-color);
    cursor: pointer;
}

/* example list */
.example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin: 0px auto;
}

.example-list .item:hover {
    outline: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list .photo-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;

    letter-spacing: 0.06em;

    color: var(--heavy-text-color);
}

.card-image {
    display: block;
}

.portfolio-info {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.example-list .info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}

/* clients>>>>>>>>>>>>>>>>>>>>> */

.clients {
    padding: 94px 0px;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--heavy-text-color);
}

.clients-list {
    display: flex;
    margin-top: 50px;
}

.clients-list .item {

    outline: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: currentColor;
}

.clients-link:hover {
    color: var(--action-text-color);
}

.clients-list .item+.item {
    margin-left: 30px;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

/*<<<<<<<<<<<second page - community<<<<<<<< */

/* >>>>>>>>>>>>>>> footer >>>>>>>>>>>>>>> */

.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-contanier {
    display: flex;
}
 
/* footer-left>>>>>>>>>>>>>>>>>>> */

.footer .logo-main {
    margin-bottom: 20px;
    display: block;
}

.footer .logo-second {
    color: var(--white-text-color);

    margin-bottom: 20px;
}

.footer-address .link {
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
}

.footer-address .physical-address {
    color: var(--white-text-color);
    text-decoration: none;
    font-style: normal;
}

.footer-address .link:hover,
.footer-address .link:focus {
    color: var(--action-text-color);
}

.address-list .item+.item {
    margin-top: 10px;
}

/* footer-center>>>>>>>>>>>>>>>>> */

.footer-contanier .center {
    margin-left: 70px;
    padding-top: 12px;
}

.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);
}

.footer-social .item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-icon {
    fill: var(--white-text-color);
}